# Node.js dependencies
node_modules/

# Build output
dist/
**/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# MacOS
.DS_Store

# Editor-specifieke bestanden
.vscode/
.idea/
*.swp
