# Node.js dependencies
node_modules/
package-lock.json

# Build output
dist/
**/dist/

# Turbo
.turbo

# Vite
.vite/
**/.vite/

# TypeScript
*.tsbuildinfo

# Astro
.astro/
**/.astro/

# Logs
npm-debug.log*

# MacOS
.DS_Store

# Editor-specifieke bestanden
.vscode/
.idea/
*.swp

*storybook.log
